@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-orange-50: #fff8f5;
  --color-orange-100: #feefe8;
  --color-orange-200: #fcdbc9;
  --color-orange-300: #fabf9f;
  --color-orange-400: #f8a879;
  --color-orange-500: #f6985a;
  --color-orange-600: #de8951;
  --color-orange-700: #b87143;
  --color-orange-800: #935b36;
  --color-orange-900: #7b4c2d;
  --color-orange-950: #432817;
}

:root {
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto), sans-serif;
  background: #09090b;
  /* Zinc 950 */
  color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}